.titleText {
    font-family: 'Roboto', sans-serif;
}

.raraText {
    font-family: 'Ballet', cursive;
}

.textText {
    font-family: 'Open Sans', sans-serif;
}

.textText2 {
    font-family: 'Source Sans Pro', sans-serif;
}

.titleText2 {
    font-family: 'Akaya Telivigala', cursive;
}

a:link {
    color: #ffffff;
}
  
a:visited {
    color: #ffffff;
}
  
a:hover {
    color: #ffffff;
}
  
a:active {
    color: #ffffff;
}

.carousel-item2 {
    height: 70vh;
  }